{% extends "admin/base_site.html" %}
{% load static %}
{% load formatar_numero %}
{% load l10n %} {# <-- importante para usar unlocalize #}
{% block extrahead %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block content %}
<div class="container mt-4 pb-4">
    <div id="app-data" data-harvest-id="{{ HARVEST_ID }}" data-farm-id="{{ FARM_ID }}"
        data-response-id="{{ RESPONSE_ID }}" data-charge-id="{{ CHARGE_ID }}" data-token="{{ YOUR_TOKEN }}">
    </div>
    <div class="container d-flex flex-col justify-content-between p-0">
        <h2 class="mb-4"><strong>{{projeto_nome}}</strong></h2>
        <h2 class="mb-4">📦 Abrir Aplicação no Farmbox</h2>
    </div>

    <div class="mb-3">
        <label class="form-label"><strong>Área total selecionada:</strong></label>
        <strong>
            <input type="text" class="form-control" id="total-area-display"
                value="{{ total_area|formatar_numero_br }} Há" readonly>
        </strong>
    </div>

    <div class="mb-4">
        <h5>Plantios Selecionados:</h5>
        {% for p in plantios %}
        <div class="plantio-wrapper mb-2" data-plantation-id="{{ p.id_farmbox }}">
            <div class="card p-3">
                <input type="hidden" name="plantation_id" value="{{ p.id_farmbox|stringformat:'d' }}">
                <div class="d-flex align-items-center flex-wrap gap-3 justify-content-between">
                    <div class="d-flex align-items-center flex-wrap gap-3">
                        <div>
                            {% with cultura=p.variedade.cultura.cultura %}
                            {% if cultura == "Soja" %}
                            <img src="{% static 'images/icons/soy.png' %}" alt="Soja"
                                style="width: 20px; height: 20px;" />
                            {% elif cultura == "Feijão" %}
                            <img src="{% static 'images/icons/beans2.png' %}" alt="Feijão"
                                style="width: 20px; height: 20px;" />
                            {% elif cultura == "Arroz" %}
                            <img src="{% static 'images/icons/rice.png' %}" alt="Arroz"
                                style="width: 20px; height: 20px;" />
                            {% else %}
                            <img src="{% static 'images/icons/question.png' %}" alt="Arroz"
                                style="width: 20px; height: 20px;" />
                            {% endif %}
                            {% endwith %}
                        </div>
                        <div><strong></strong> {{ p.talhao.id_talhao }}</div>
                        <div><strong></strong> {{ p.variedade }}</div>
                        <div><strong></strong> {{ p.safra }} - {{ p.ciclo }}</div>
                        <div class="d-flex align-items-center gap-2">
                            <label for="area-{{ forloop.counter }}" class="form-label me-1 mb-0">
                                <strong>Área (Há):</strong>
                            </label>
                            <input type="number" step="any" class="form-control form-control-sm area-input"
                                name="sought_area"
                                value="{% with p.area_colheita|stringformat:'f' as area_float %}{{ area_float|slice:':-4' }}{% endwith %}"
                                data-plantation-id="{{ p.id_farmbox }}" style="max-width: 90px;">
                        </div>
                    </div>

                    <!-- Botão remover -->
                    <button type="button" class="btn btn-sm btn-outline-danger remove-plantio-btn"
                        onclick="removerPlantio(this)">
                        Remover
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <hr />

    <h5>Adicionar Defensivos</h5>
    <div id="defensivos-container" class="mb-3">
        <div class="defensivo-group d-flex align-items-center gap-2 mb-2">
            <select name="input_id" class="form-select form-select-sm w-auto" style="min-width: 220px;" required>
                <option value="">-- Selecione um defensivo --</option>
                {% for d in defensivos %}
                <option value="{{ d.id_farmbox_str|stringformat:'d' }}" data-unidade="{{ d.unidade_medida }}" data-tipo="{{ d.tipo_display}}" data-formulacao="{{d.formulacao}}">
                    {{ d.produto }}
                </option>
                {% endfor %}
            </select>

            <input type="text" name="tipo_defensivo" class="form-control form-control-sm w-auto" 
                placeholder=" - " style="width: 100px;" disabled>

            <input type="number" step="0.01" name="dosage_value" class="form-control form-control-sm w-auto"
                placeholder="Dose (ex: 0.2)" style="width: 100px;" required>

            <button type="button" class="btn btn-outline-primary btn-sm" onclick="duplicarLinha(this)">+</button>
            <button type="button" class="btn btn-outline-danger btn-sm remove-defensivo-btn"
                onclick="removerLinha(this)">−</button>

            <!-- Nova coluna para resultado -->
            <div class="dose-result" style="min-width: 80px; text-align: right; font-weight: 600;">
                0,00
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-success" id="btn-submit" onclick="enviarAplicacao()">✅ Confirmar
        Aplicação</button>
</div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'admin/js/abrir_aplicacao_farmbox.js' %}"></script>
{% endblock %}