{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}

{% block content_title %}
<div style="display: flex; justify-content: center">
    <h1>Acompanhamento X: Safra Y</h1>
</div>
{% endblock %}
{% block result_list %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
        <div class="container">
            [[variedades]]
        </div>
        <div class="container-fluid">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Projeto</th>
                        <th>Cultura</th>
                        <th>Area Plantada</th>
                        <th>Area Colhida</th>
                        <th>Area a Colher</th>
                        <th>Peso Colhido (Scs)</th>
                        <th>Produtividade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(col,i) in plantio">
                    <td>[[ i.split("|")[0] ]]</td>
                    <td>[[ i.split("|")[1] ]]</td>
                    <td>[[ col.areaTotal.toLocaleString("pt-br", {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                    }) ]]</td>
                    <td>[[ col.areaColheita.toLocaleString("pt-br", {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                    }) ]]</td>
                    <td>[[ col.saldoColheita.toLocaleString("pt-br", {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                    }) ]]</td>
                    <td>[[ col.pesoColhido.toLocaleString("pt-br", {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                    }) ]]</td>
                    <td>[[ col.produtividade.toLocaleString("pt-br", {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                    }) ]]</td>
                </tr>

                </tbody>
            </table>
                <div v-for="(col,i) in plantio" 
                style="display: flex; flex-direction: row; gap: 10px; width: 80%;
                    justify-content: space-between
                ">
                    <span>[[ i.split("|")[0] ]]</span>
                    <span>[[ i.split("|")[1] ]]</span>
                    <span>[[ col.areaTotal.toFixed(2) ]]</span>
                    <span>[[ col.areaColheita.toFixed(2) ]]</span>
                    <span>[[ col.saldoColheita.toFixed(2) ]]</span>
                    <span>[[ col.pesoColhido ]]</span>
                    <span>[[ col.produtividade.toFixed(2) ]]</span>
                </div>
            <br>
            <hr>
            <div>
                {% for i in summary %}
                    <div style="display: flex; gap: 10px">
                        <p> {{i.talhao__fazenda__nome}}</p>
                        <p> {{i.variedade__cultura__cultura}}</p>
                        <p> {{i.area_total}}</p>
                        <p> {{i.area_colheita}}</p>
                        <p> {{i.area_parcial}}</p>

                    </div>
                {% endfor %}
            </div>
            <hr/>
            
                <div style="display: flex; justify-content: center">
                    <h1>Acompanhamento X: Colheita Y</h1>
                </div>
            
            <div>
                {% for i in colheita %}
                    <div style="display: flex; gap: 10px">
                        <p>{{i.plantio__talhao__fazenda__nome}}</p>
                        <p>{{i.peso}} Kg</p>
                        <p>{{i.peso_kg}} Scs </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    
    
    <script type='text/javascript'>
        var plantio = {{ summary_2|safe }}
        var colheita = {{ colheita_2|safe }}
    </script>
    <script src="{% static 'admin/js/custom_temp.js' %}" type="text/javascript"></script>
    

    

{% endblock %}
{% endblock %}

{% block pagination %}{% endblock %}