<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Convite de Reunião</title>
</head>

<body style="font-family: Arial, sans-serif; color: #333; line-height: 1.6;">
    <p>Bom dia,</p>

    <p>Segue link e cronograma da reunião:</p>

    <p>
        <a href="https://meet.google.com/ngt-bhyv-ghp" target="_blank">
            Acessar reunião no Google Meet
        </a><br>
        <span><strong><em>https://meet.google.com/ngt-bhyv-ghp</em></strong></span>
    </p>

    <h3>Cronograma:</h3>
    <ul>
        <li><strong>Rorras</strong>: 06:30 às 06:45</li>
        <li><strong>Adriano</strong>: 06:46 às 07:00</li>
        <li><strong>Gleyson</strong>: 07:01 às 07:15</li>
        <li><strong>Fábio</strong>: 07:16 às 07:30</li>
    </ul>

    <p>Atenciosamente,</p>
    <p><strong>Marcelo Pata</strong></p>
</body>

</html>